* {
  box-sizing: border-box;
}

 body{
   padding: 0;
   margin: 0;
   text-align: center;
 }

header{
  background-color: #99bbad;
  
}
img{
height:400px;
width:500px;
}

h1{
  margin:0;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

h2{
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: 'Questrial', sans-serif;
}

h3{
font-family: 'Raleway', sans-serif;
font-size: x-large;
}

p, li, a{
  font-family: 'Source Code Pro', monospace;
}

hr{
  border: 2px solid red;
  margin: 0;
}

main{
  background-color: #98ded9;
}

footer{
  background-color: #99bbad;
}

.contact-me{
  margin:0;
  padding: 20px;
}

a{
  padding: 10px;
  text-decoration: none;
  padding-bottom: 0px;
}

a:link{
  color: #91091e;
}

a:visited{
  color: #314e52;
}



ul > li{
  list-style-type: none;
}

